.bookings-container {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

.booking-card mat-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  align-self: center;
}
