.bookings-container {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

.booking-card mat-card {
  padding: 15px;
  border: 3px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  align-self: center;
}

.back-btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.2s, transform 0.2s;
}

.back-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

.cancel-btn {
  border: 1px solid black;
}