<div class="bookings-container" *ngIf="!loading">
    <h2>My Bookings</h2>

    <p *ngIf="totalBookings === 0">No bookings yet.</p>

    <div *ngFor="let booking of bookings" class="booking-card">
        <mat-card>
            <div class="booking-card-content">
                <div class="booking-info">
                    <h3 class="event-title">{{ booking.eventName }}</h3>

                    <div class="booking-details">
                        <p><strong>Quantity:</strong> {{ booking.totalSeats }}</p>
                        <p><span class="icon">🎟️</span> <strong>Booked Seats:</strong> {{ booking.bookedSeats }}</p>
                        <p><span class="icon">💰</span> <strong>Total Price:</strong> ₹{{ booking.price *
                            booking.totalSeats }}</p>
                    </div>

                    <div class="cancel-section">
                        <span class="cancel-text">If you want to cancel booking →</span>
                        <button mat-raised-button color="warn" class="cancel-btn"
                            (click)="cancelBooking(booking.eventId)">
                            Cancel Booking
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>